<p id="notice"><%= notice %></p>

<p>
  <strong>Inicio sintomas:</strong>
  <%= @sintoma.inicio_sintomas %>
</p>

<p>
  <strong>Fiebre:</strong>
  <%= @sintoma.fiebre %>
</p>

<p>
  <strong>Cefalea:</strong>
  <%= @sintoma.cefalea %>
</p>

<p>
  <strong>Disnea:</strong>
  <%= @sintoma.disnea %>
</p>

<p>
  <strong>Tos:</strong>
  <%= @sintoma.tos %>
</p>

<p>
  <strong>Odinofagia:</strong>
  <%= @sintoma.odinofagia %>
</p>

<p>
  <strong>Taquipnea:</strong>
  <%= @sintoma.taquipnea %>
</p>

<p>
  <strong>Cianosis:</strong>
  <%= @sintoma.cianosis %>
</p>

<p>
  <strong>Mialgia:</strong>
  <%= @sintoma.mialgia %>
</p>

<p>
  <strong>Dolorabdominal:</strong>
  <%= @sintoma.dolorabdominal %>
</p>

<p>
  <strong>Diarrea:</strong>
  <%= @sintoma.diarrea %>
</p>

<p>
  <strong>Anosmia:</strong>
  <%= @sintoma.anosmia %>
</p>

<p>
  <strong>Agueusia:</strong>
  <%= @sintoma.agueusia %>
</p>

<p>
  <strong>Diabetes:</strong>
  <%= @sintoma.diabetes %>
</p>

<p>
  <strong>Hipertension:</strong>
  <%= @sintoma.hipertension %>
</p>

<p>
  <strong>Otras:</strong>
  <%= @sintoma.otras %>
</p>

<%= link_to 'Edit', edit_sintoma_path(@sintoma) %> |
<%= link_to 'Back', sintomas_path %>
