<p id="notice"><%= notice %></p>

<p>
  <strong>Rut:</strong>
  <%= @contacto.rut %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @contacto.nombre %>
</p>

<p>
  <strong>Fecha investigacion:</strong>
  <%= @contacto.fecha_investigacion %>
</p>

<p>
  <strong>Tipo contacto:</strong>
  <%= @contacto.tipo_contacto %>
</p>

<p>
  <strong>Parentesco:</strong>
  <%= @contacto.parentesco %>
</p>





<%# <%= link_to 'Edit', edit_contacto_path(@contacto) %> |
<%# <%= link_to 'Back', contactos_path %> %> %>
