<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Rut</th>
      <th>Nombres</th>
      <th>Apellido</th>
      <th>Apellido</th>
      <th>Sexo</th>
      <th>Fecha nac</th>
      <th>Edad</th>
      <th>Region</th>
      <th>Comuna</th>
      <th>Prevision</th>
      <th>Nacionalidad</th>
      <th>Division</th>
      <th>Tipo trabajador</th>
      <%# <th>Empresa</th> %>
    </tr>
  </thead>

  <tbody>
    <% @trabajadors.each do |trabajador| %>
      <tr>
        <td><%= trabajador.rut %></td>
        <td><%= trabajador.nombres %></td>
        <td><%= trabajador.apellido1 %></td>
        <td><%= trabajador.apellido2 %></td>
        <td><%= trabajador.sexo %></td>
        <td><%= trabajador.fecha_nac %></td>
        <td><%= trabajador.edad %></td>
        <td><%= trabajador.region %></td>
        <td><%= trabajador.comuna %></td>
        <td><%= trabajador.prevision %></td>
        <td><%= trabajador.nacionalidad %></td>
        <td><%= trabajador.division %></td>
        <td><%= trabajador.tipo_trabajador %></td>
        <td><%#= trabajador.empresa %></td>
        <td><%= link_to 'Acciones', trabajador %></td>
        <td><%= link_to 'Editar datos', edit_trabajador_path(trabajador) %></td>
        <!-- <td><%= link_to 'Destroy', trabajador, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ingresar nuevo Trabajador', new_trabajador_path %>
