
<% if @episode == nil %>
<%= button_to "Nuevo episodio", new_trabajador_episode_path(@trabajador), method: 'get', form_class: "btn ", class: "btn btn-warning" %>
<% else %>
<% content_for :EpisodioActual do %>
  <%= render "episodes/episodio_actual" %>

  <p><span> <%= link_to "Detalles del Episodio actual", episode_path(@episode), method: 'get'  %></span>
  <!-- <span>&nbsp;</span><span>&nbsp;</span> -->
</p>

  <%= button_to "Modificar Episodio", edit_episode_path(@episode), method: 'get', form_class: "btn ", class: "btn btn-warning" %>

  <% if @episode.cambioSeguimiento == 'Contacto' %>
  <% else %>
  <%= button_to "Agregar contactos (trazabilidad)", new_episode_contacto_path(@episode), method: 'get', form_class: "btn ", class: "btn btn-primary" %>
  <% end %>
  <%= button_to "Seguir al trabajador", new_episode_seguimiento_path(@episode), method: 'get', form_class: "btn ", class: "btn btn-primary" %>

<% end %>
<% end %>
