<p id="notice"><%= notice %></p>

<h2>Datos del trabajador</h2>
<%= render 'trabajadors/trabajadoractual' %>

<% if @episode == nil %>
<h2>Crear nuevo episodio</h2>
<%= render 'episodes/epi' %>
<% else %>
<h2>Episodio actual</h2>
<%= render "episodes/show" %>

<%= button_to "Modificar Episodio", edit_episode_path(@episode), method: 'get' %>
<br>

<h2>Acciones de trababilidad y seguimiento</h2>

<% if @episode.cambioSeguimiento == 'Contacto' %>
<% else %>
<%= button_to "Agregar contactos (trazabilidad)", new_episode_contacto_path(@episode), method: 'get' %>
<% end %>


<button type="button" name="button">Seguimiento del trabajador</button>


<% end %>

<br>
<%= link_to 'Listado de trabajadores', trabajadors_path %>
