<p id="notice"><%= notice %></p>

<h2>Datos del trabajador</h2>
<%= render 'trabajadors/trabajadoractual' %>

<% if @episode == nil %>
<h2>Ingreso del episodio actual</h2>
<%= render 'episodes/epi' %>
<% else %>
<h2>Episodio actual</h2>
<%= render "episodes/show" %>
<button type="button" name="button">Agregar contactos (trazabilidad)</button>
<button type="button" name="button">Modificar episodio</button>

<% end %>

<br>
<%= link_to 'Listado de trabajadores', trabajadors_path %>
