<p id="notice"><%= notice %></p>

<p>
  <strong>Rut:</strong>
  <%= @trabajador.rut %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @trabajador.nombres %>
</p>

<p>
  <strong>Apellido paterno:</strong>
  <%= @trabajador.apellido1 %>
</p>

<p>
  <strong>Apellido materno:</strong>
  <%= @trabajador.apellido2 %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @trabajador.sexo %>
</p>

<p>
  <strong>Fecha nac:</strong>
  <%= @trabajador.fecha_nac %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @trabajador.edad %>
</p>

<p>
  <strong>Region:</strong>
  <%= @trabajador.region %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @trabajador.comuna %>
</p>

<p>
  <strong>Prevision:</strong>
  <%= @trabajador.prevision %>
</p>

<p>
  <strong>Nacionalidad:</strong>
  <%= @trabajador.nacionalidad %>
</p>

<p>
  <strong>Division:</strong>
  <%= @trabajador.division %>
</p>

<p>
  <strong>Tipo trabajador:</strong>
  <%= @trabajador.tipo_trabajador %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @trabajador.empresa %>
</p>

<h2>Datos del episodio actual</h2>

      <%= form_with(model: [@trabajador, @trabajador.episodes.build], local: true) do |form| %>
        

        <div class="field">
          <%= form.label :folio %>
          <%= form.text_field :folio %>
        </div>

        <div class="field">
          <%= form.label :tipo_ingreso %>
          <%= form.text_field :tipo_ingreso %>
        </div>

        <div class="field">
          <%= form.label :fecha_ingreso %>
          <%= form.text_field :fecha_ingreso %>
        </div>

        <div class="field">
          <%= form.label :contactos_laborales %>
          <%= form.number_field :contactos_laborales %>
        </div>

        <div class="field">
          <%= form.label :contactos_no_laborales %>
          <%= form.number_field :contactos_no_laborales %>
        </div>

        <div class="field">
          <%= form.label :presentacion %>
          <%= form.text_field :presentacion %>
        </div>

        <div class="field">
          <%= form.label :inicio_sintomas %>
          <%= form.date_select :inicio_sintomas %>
        </div>

        <div class="field">
          <%= form.label :inicio_cuarentena %>
          <%= form.date_select :inicio_cuarentena %>
        </div>

        <div class="field">
          <%= form.label :fin_cuarentena %>
          <%= form.date_select :fin_cuarentena %>
        </div>

        <div class="field">
          <%= form.label :fin_cuarentena_codelco %>
          <%= form.date_select :fin_cuarentena_codelco %>
        </div>

        <div class="field">
          <%= form.label :origen_contagio %>
          <%= form.text_field :origen_contagio %>
        </div>

        <div class="field">
          <%= form.label :cierre %>
          <%= form.datetime_select :cierre %>
        </div>

        <div class="field">
          <%= form.label :trabajador_id %>
          <%= form.text_field :trabajador_id %>
        </div>

        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>


<%= link_to 'Editar datos trabajador', edit_trabajador_path(@trabajador) %> |
<%= link_to 'Listado', trabajadors_path %>
