<p>
  <strong>Abierto:</strong>
  <%= episode.abierto %>
</p>

<p>
  <strong>Folio:</strong>
  <%= episode.folio %>
</p>

<p>
  <strong>Tipo ingreso:</strong>
  <%= episode.cambioSeguimiento %>
</p>

<p>
  <strong>Fecha ingreso:</strong>
  <%= episode.fecha_ingreso.to_time.strftime('%d/%m/%Y') %>
</p>

<p>
  <strong>Contactos laborales:</strong>
  <%= episode.contactos_laborales %>
</p>

<p>
  <strong>Contactos no laborales:</strong>
  <%= episode.contactos_no_laborales %>
</p>

<p>
  <strong>Presentacion:</strong>
  <%= episode.presentacion %>
</p>

<p>
  <strong>Inicio sintomas:</strong>
  <%= episode.inicio_sintomas %>
</p>

<p>
  <strong>Inicio cuarentena / aislamiento:</strong>
  <%= episode.inicio_cuarentena %>
</p>

<p>
  <strong>Fin cuarentena / aislamiento:</strong>
  <%= episode.fin_cuarentena %>
</p>

<!-- <p>
  <strong>Fin cuarentena codelco:</strong>
  <%= episode.fin_cuarentena_codelco %>
</p> -->

<p>
  <strong>Origen:</strong>
  <%= episode.origen_contagio %>
</p>

<p>
  <strong>Cierre:</strong>
  <%= episode.cierre %>
</p>


<p>
<%= link_to 'Eliminar episodio', [episode.trabajador, episode],
    method: :delete,
    data: { confirm: 'Seguro de eliminar'}%>
</p>
