<p id="notice"><%= notice %></p>

<%= form_with(model: [@trabajador, @trabajador.episodes.build], local: true) do |form| %>

  <div class="field">
    <%= form.label(:tipo_ingreso, 'Tipo de ingreso') %>
    <%= form.select(:tipo_ingreso, [['Testeo'], ['Caso confirmado'], ['Caso sospechoso'], ['Caso probable'], ['Otro']] ) %>
  </div>

  <div class="field">
    <%= form.label :inicio_cuarentena %>
    <%= form.date_select :inicio_cuarentena, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label(:origen_contagio, 'Origen') %>
    <%= form.select(:origen_contagio, [['Laboral'], ['No Laboral'], ['Indeterminado']], include_blank: true) %>
  </div>

  <div class="field">
    <%= form.label(:rut_indice, 'Rut del caso índice') %>
    <%= form.text_field :rut_indice  %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
