<h5>Episodio actual</h5>

<p id="notice"><%= notice %></p>

<table class ="table">
  <thead>
    <tr>
      <th>Tipo ingreso</th>
      <th>Fecha ingreso</th>
      <th>PCR</th>
      <th>Origen </th>
      <th>Contactos laborales</th>
      <th>Contactos no laborales</th>
      <th>Presentacion</th>
      <th>Inicio sintomas</th>
      <th>Caso indice</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @episode.cambioSeguimiento %></td>
      <td><%= @episode.fecha_ingreso.to_time.strftime('%d/%m/%Y') %></td>
      <td><%= @episode.pcr %></td>
      <td><%= @episode.origen_contagio %></td>
      <td><%= @episode.contactos_laborales %></td>
      <td><%= @episode.contactos_no_laborales %></td>
      <td><%= @episode.presentacion %></td>
      <td><%= @episode.inicio_sintomas %></td>
      <td><%= @episode.rut_indice %> </td>
    </tr>
  </tbody>

</table>
