<%= form_with(model: episode, local: true) do |form| %>
  <% if episode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(episode.errors.count, "error") %> impide grabar este episodio:</h2>

      <ul>
        <% episode.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :cambioSeguimiento, 'Cambiar tipo de ingreso' %>
    <%= form.select(:cambioSeguimiento, [['Caso confirmado'], ['Caso sospechoso'], ['Caso probable'], ['Otro']]) %>
  </div>



  <div class="field">
    <%= form.label :inicio_cuarentena %>
    <%= form.date_select :inicio_cuarentena, include_blank: true, start_year: 2019, end_year:2021 %>
  </div>

  <div class="field">
    <%= form.label :fin_cuarentena %>
    <%= form.date_select :fin_cuarentena, include_blank: true, start_year: 2019, end_year:2021 %>
  </div>

  <div class="field">
    <%= form.label :origen_contagio, "Origen" %>
    <%= form.select(:origen_contagio, [['Laboral'], ['No Laboral'], ['Indeterminado']], include_blank: true) %>
  </div>

  <div class="field">
    <%= form.label(:rut_indice, 'Rut del caso índice') %>
    <%= form.text_field :rut_indice  %>
  </div>


  <div class="field">
      <%= form.label(:abierto, 'Cerrar episodio') %>
      <%= form.select(:abierto, [['No', true], ['Finalizar seguimiento', false]]) %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= link_to 'Volver', trabajador_path(@trabajador) %>
