<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Tipo ingreso</th>
      <th>Fecha ingreso</th>
      <th>Contactos laborales</th>
      <th>Contactos no laborales</th>
      <th>Presentacion</th>
      <th>Inicio sintomas</th>
      <th>Inicio cuarentena</th>
      <th>Fin cuarentena</th>
      <th>Origen </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @episode.cambioSeguimiento %></td>
      <td><%= @episode.fecha_ingreso.to_time.strftime('%d/%m/%Y') %></td>
      <td><%= @episode.contactos_laborales %></td>
      <td><%= @episode.contactos_no_laborales %></td>
      <td><%= @episode.presentacion %></td>
      <td><%= @episode.inicio_sintomas %></td>
      <td><%= @episode.inicio_cuarentena %></td>
      <td><%= @episode.fin_cuarentena %></td>
      <td><%= @episode.origen_contagio %></td>
    </tr>
  </tbody>

</table>
