<p id="notice"><%= notice %></p>

<h1>Episodios</h1>

<table class="table">
  <thead>
    <tr>
      <th>Tipo ingreso</th>
      <th>Fecha ingreso</th>
      <th>Contactos laborales</th>
      <th>Contactos no laborales</th>
      <th>Presentacion</th>
      <th>Inicio sintomas</th>
      <th>Inicio cuarentena / aislamiento</th>
      <th>Fin cuarentena / aislamiento</th>
      <th>Origen </th>
      <th>Caso indice</th>

    </tr>
  </thead>

  <tbody>
    <% @episodes.each do |episode| %>
      <tr>
        <td><%= episode.tipo_ingreso %></td>
        <td><%= episode.fecha_ingreso %></td>
        <td><%= episode.contactos_laborales %></td>
        <td><%= episode.contactos_no_laborales %></td>
        <td><%= episode.presentacion %></td>
        <td><%= episode.inicio_sintomas %></td>
        <td><%= episode.inicio_cuarentena %></td>
        <td><%= episode.fin_cuarentena %></td>
        <td><%= episode.origen_contagio %></td>
        <td><%= episode.rut_indice %></td>

        <td><%= link_to 'Editar', edit_episode_path(episode) %></td>
        <!-- <td><%= link_to 'Destroy', episode, method: :delete, data: { confirm: 'Está seguro que quiere eliminar?' } %> </td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Volver', trabajador_path(@trabajador) %>
