<% content_for :nuevoEpisodio do %>

<% if @episode.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@episode.errors.count, "error") %> impide grabar este episodio:</h2>

    <ul>
      <% @episode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

<h4>Crear nuevo episodio:</h4>

<%= form_with(model: [@trabajador, @trabajador.episodes.build], local: true) do |form| %>

  <div class="field">
    <%= form.label(:tipo_ingreso, 'Tipo de ingreso') %>
    <%= form.select(:tipo_ingreso, [['Caso confirmado'], ['Caso sospechoso'], ['Caso probable'], ['Otro']] ) %>
  </div>

<p>
  <span class="field">
    <%= form.label(:pcr, 'PCR') %>
    <%= form.select(:pcr, [['+'], ['Indeterminado'], ['-']], include_blank: true ) %>
  </span>
  <span>&nbsp;</span><span>&nbsp;</span>
  <span>&nbsp;</span><span>&nbsp;</span>
  <span class="field">
    <%= form.label(:fechaPCR, 'Fecha PCR') %>
    <%= form.date_select(:fechaPCR, include_blank: true, start_year: 2019, end_year:2021) %>
  </span>

</p>

<p>
  <div class="field">
    <%= form.label(:origen_contagio, 'Origen') %>
    <%= form.select(:origen_contagio, [['Laboral'], ['No Laboral'], ['Indeterminado']], include_blank: true) %>
  </div>

  <div class="field">
    <%= form.label(:rut_indice, 'Rut del caso índice') %>
    <%= form.text_field :rut_indice  %>
  </div>
</p>
  <div class="field">
    <%= form.label :inicio_cuarentena %>
    <%= form.date_select :inicio_cuarentena, include_blank: true, start_year: 2019, end_year:2021 %>
  </div>

  <div class="field">
    <%= form.label :fin_cuarentena %>
    <%= form.date_select :fin_cuarentena, include_blank: true, start_year: 2019, end_year:2021 %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<% end %>
