<p id="notice"><%= notice %></p>

<h2>Datos del trabajador</h2>
<%= render 'trabajadors/trabajadoractual' %>

<h2>Episodio actual</h2>
<%= render 'show' %>

<% if @sintoma == nil %>
<% else %>
<h2>Síntomas al ingreso</h2>
<%= render 'sintomas/sinto' %>
<% end %>

<h2> Contactos </h2>
<%= render 'contactos/lista' %>

<% if @Useguimiento == nil %>
<% else %>
<h2>Último seguimiento</h2>
<%= render 'seguimientos/ultimo' %>
<% end %>

<%= link_to 'Volver', trabajador_path(@trabajador) %>
