<%= form_with(model: [@episode, @episode.seguimientos.build], local: true) do |form| %>

<div class="field">
  <%= form.label :estado_seguimiento %>
  <%= form.select(:estado_seguimiento, [['No contactado aun'], ['No localizado'], ['En seguimiento'], ['Pasa a caso'], ['Egresa de seguimiento']]) %>
</div>


  <div class="field">
    <%= form.label :tipo_aislamiento %>
    <%= form.select(:tipo_aislamiento, [['Domicilio particular'], ['Hospitalizacion clínica'], ['Hospitalizacion domiciliaria'], ['Residencia sanitaria'], ['Residencia CODELCO'], ['Institución']],include_blank: true) %>
  </div>


  <div class="field">
    <%= form.label :hospitalizacion, "Hospitalización de baja o alta complejidad" %>
    <%= form.check_box :hospitalizacion %>
  </div>

  <div class="field">
    <%= form.label :ventilacion , "Ventilación mecánica"%>
    <%= form.check_box :ventilacion %>
  </div>

  <div class="field">
    <%= form.label :falleceresp, "Fallecimiento respiratorio" %>
    <%= form.check_box :falleceresp %>
  </div>



  <div class="field">
    <%= form.label :evolucion %>
    <%= form.text_area :evolucion %>
  </div>

  <div class="field">
    <%= form.label :estadoegreso %>
    <%= form.select(:estadoegreso, [['Caso índice'], ['Caso probable'], ['Contacto']],include_blank: true)  %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
