<h1>Seguimientos</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Tipo aislamiento</th>
      <th>Estado seguimiento</th>
      <th>Hospitalizacion</th>
      <th>Ventilacion</th>
      <th>Falleceresp</th>
      <th>Estadoegreso</th>
      <th>Evolucion</th>
    </tr>
  </thead>

  <tbody>
    <% @seguimientos.each do |seguimiento| %>
      <tr>
        <td><%= seguimiento.fecha_seguimiento %></td>
        <td><%= seguimiento.tipo_aislamiento %></td>
        <td><%= seguimiento.estado_seguimiento %></td>
        <td><%= seguimiento.hospitalizacion %></td>
        <td><%= seguimiento.ventilacion %></td>
        <td><%= seguimiento.falleceresp %></td>
        <td><%= seguimiento.estadoegreso %></td>
        <td><%= seguimiento.evolucion %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Volver', trabajador_path(@trabajador) %>
