<%= form_with(model: [@trabajador, @trabajador.tests.build], local: true) do |form| %>

<p>
  <span class="field">
    <%= form.label :fecha_resultado, "Fecha de resultado" %>
    <%= form.date_select(:fecha_resultado, include_blank: true, start_year: 2019, end_year:2021, selected: Date.today) %>
  </span>
<span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span>
<span class="field">
  <%= form.label :tipo_test,  "Tipo de test"%>
  <%= form.select(:tipo_test, [['Antígeno'], ['PCR'], ['Anticuerpo']]) %>
</span>
<span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span>
  <span class="field">
    <%= form.label :resultado , "Resultado"%>
    <%= form.select(:resultado, [['-'], ['+'], ['indeterminado']],  include_blank: true)  %>
  </span>
  <span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span>
    <span class="field">
      <%= form.label :fecha_toma , "Fecha de toma"%>
      <%= form.date_select :fecha_toma, include_blank: true, start_year: 2019, end_year:2021  %>
    </span>
</p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
