<p id="notice"><%= notice %></p>


<table class = "table">
  <thead>
    <tr>
      <th>Fecha del resultado</th>
      <th>Tipo de test</th>
      <th>Resultado</th>
      <th>Fecha de toma</th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.fecha_resultado %></td>
        <td><%= test.tipo_test %></td>
        <td><%= test.resultado %></td>
        <td><%= test.fecha_toma %></td>
        <td><%= link_to 'Editar', edit_test_path(test) %></td>
        <td><%= link_to 'Borrar', test, method: :delete, data: { confirm: 'Está seguro que quiere eliminar el test?' } %> </td>
      </tr>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Volver', trabajador_path(@trabajador) %>
